---

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      digitales Museum des Geschichtsvereins Butzbach und Umgebung e.V.
    </title>
    <style is:global>
      @import "../styles/global.css";
    </style>
  </head>
  <body class="min-h-screen flex flex-col">
    <header class="my-4 mx-4">
      <h1 class="text-5xl">Digitales Museum</h1>
      <h3 class="text-3xl text-accent-foreground">
        des Geschichtsvereins Butzbach und Umgebung e.V.
      </h3>
    </header>
    <main class="flex-grow">
      <slot />
    </main>
    <footer class="my-2 mx-4 border-t-2 border-t-muted-foreground pt-2">
      <p class="text-sm text-muted-foreground text-right">
        <a href="https://geschichtsverein-butzbach.de">Zu unserer Webseite</a>
      </p>
    </footer></body
  >
</html>
